%nav
  .nav-wrapper
    %a.brand-logo{:href => "#"} MI TORNEO

    %ul#nav-mobile.right.hide-on-med-and-down
      %li
        = link_to "INICIO", dashboard_path()
      %li
        %a{:href => "inscriptions"} INSCRIPCIONES
      %li
        %a{:href => "collapsible.html"} TARJETAS
      %li
        %a{:href => "collapsible.html"} PLANILLAS
      %li
        %a{:href => "collapsible.html"} ARCHIVOS
      / Dropdown Trigger
      %a.dropdown-trigger.btn{"data-target" => "dropdown1", :href => "#"} TABLAS
      / Dropdown Structure
      %ul#dropdown1.dropdown-content
        %li
          %a{:href => "#!"} one
        %li
          %a{:href => "#!"} two
        %li.divider{:tabindex => "-1"}
        %li
          %a{:href => "#!"} three
        %li
          %a{:href => "#!"}
            %i.material-icons> view_module
            four
        %li
          %a{:href => "#!"}
            %i.material-icons> cloud
            five